.login-body {
    background: #fce006;
}

.login-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position:absolute;
    top:45%;
    left:50%;
    width:100px;
    height:100px;
    margin:-45px 0 0 -50px;
}

.login-screen__main input, button{
    width: 260px;
    height: 50px;
}

.login-screen__main button {
    margin-top: 7px;
}

.logo{
    height: 160px;
    width: 190px;
    margin-bottom: 30px;
}

.login-screen input{
    display: block;
}